@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.gradient-text {
  background-image: linear-gradient(to right, #003E9A, #FF3D00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.container-class{
 width: 95%;
 margin-left: 5%;
 padding-bottom: 4rem;
}
.custom-dot-list-style{
 width: 5rem;
}
.react-multi-carousel-dot-list{
  top: 94%;
  z-index: 1000;
}
.react-multi-carousel-dot button{
width: 30px !important;
height: 2px !important;
border-radius: .7rem !important;
}
.react-multi-carousel-dot--active button{
  background-color: #FF3D00 !important;
  border: 2px solid #FF3D00 !important;
}
react-multi-carousel-dot--active button {
  background: #FF3D00;
}